pipeline/PL_CHILD_GETSUBFLDR_FILES.json
{
	"name": "PL_CHILD_GETSUBFLDR_FILES",
	"properties": {
		"activities": [
			{
				"name": "GMD_filenames",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_POINTING_TO_FILELIST_TASK3",
						"type": "DatasetReference",
						"parameters": {
							"param__DS_LEVEL_FLDR_NAMES_FM_PARENT_PL": {
								"value": "@pipeline().parameters.param_PL_LEVEL_IN_CHILD_PL_FOR_FLDRS",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "ForEach",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GMD_filenames",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GMD_filenames').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "DS_CHILD_PL_COPY_ACT",
									"type": "DatasetReference",
									"parameters": {
										"param_FILENAME": {
											"value": "@item().name",
											"type": "Expression"
										},
										"param_FLDR_NAME": {
											"value": "@pipeline().parameters.param_PL_LEVEL_IN_CHILD_PL_FOR_FLDRS",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_OP_SUBFOLDER_FILES_COPY",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"param_PL_LEVEL_IN_CHILD_PL_FOR_FLDRS": {
				"type": "string",
				"defaultValue": "0"
			}
		},
		"annotations": []
	}
}