pipeline/PL_PARENT_GET_ONLY_FILES_IN_SUBFOLDERS.json
{
	"name": "PL_GET_ONLY_FILES_IN_SUBFOLDERS",
	"properties": {
		"activities": [
			{
				"name": "GetMD_folders",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_PARENT_PL_GMD1_GET_FLDRS",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetMD_folders",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetMD_folders').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Exec_PL_CHILD_GETSUBFLDR_FILES",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PL_CHILD_GETSUBFLDR_FILES",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"param_PL_LEVEL_IN_CHILD_PL_FOR_FLDRS": {
										"value": "@item().name",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"VAR_ACROSS_PL_TO_GET_SUBFLDRS": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}